<div class="container">
  <ion-slides #slides>
    <ion-slide *ngFor="let item of alphabetList?.letters">
      <ion-card (click)="pronounce(item.speak)">
        <!-- <ion-card-title> {{ item.text }} </ion-card-title> -->
        <div class="title-wrapper">
          <ion-card-title class="card-title">{{ item.text }}</ion-card-title>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="nav-button-area">
    <ion-icon name="arrow-back" (click)="previousSlide()"></ion-icon>
    <ion-icon name="chevron-forward-circle-outline" (click)="nextSlide()"></ion-icon>
  </div>
</div>