<div class="container" *ngIf="alphabetList?.letters.length; else nothingContainer">
  <ion-slides #slides>
    <ion-slide *ngFor="let item of alphabetList?.letters">
      <ion-card>
        <div class="title-wrapper" (click)="pronounce(item)" [ngClass]="{'no-click': !clickable}">
          <ion-card-title class="card-title">{{ item.text }}</ion-card-title>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="nav-button-area">
    <ion-icon name="chevron-back-circle-outline" class="left-icon" (click)="previousSlide()"></ion-icon>
    <ion-icon name="chevron-forward-circle-outline" class="right-icon" (click)="nextSlide()"></ion-icon>
  </div>
</div>

<ng-template #nothingContainer>
  <div class="container nothing-center">
    <div class="item-center nothing-color">
      There are no alphabets here!
    </div>
  </div>
</ng-template>